/* @font-face {
  font-family: 'Monsterrat', sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
} */

body {
  /* background: url("./abs.jpg") no-repeat center center fixed; */
  font-family: 'Ubuntu', sans-serif;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  -webkit-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  display: flex;
  flex-direction: row;
  margin: 0;
  width: auto;
  align-items: center;
  position: sticky;
  backdrop-filter: blur(0.5px);
  /* background-color: #ffffff; */
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.center h1 {
  font-size: 43px;
  margin-bottom: 0;
  margin-top: 5px;
  color: #0A0B0D;
  /* color: #ffffff; */
}

.center h2 {
  margin-top: 5px;
  font-style: italic;
  color: #0A0B0D;
  /* color: #ffffff; */
}

.screen {
  /* display: flex;
  flex-direction: column; */
  flex: 1;
  margin: 0;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; */
}

.back-1 {
  background: url("./abstract.jpg") repeat center center fixed;
}

.back-2 {
  background: url("./smash.jpg") repeat center center fixed;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.banner {
  border: 1mm;
  border-radius: 7px;
  /* background-color: #eb4034; */
  /* box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17); */
  /* box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.45); */
  -moz-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  -webkit-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  
  border: solid #eae7dc;
  margin: 0;
  padding: 25px 30px;
  color: #0A0B0D;
  font-family: 'Monsterrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  /* backdrop-filter: blur(20px); */
  background-color: #e85a4f;
}

/* .banner::before {
  content: '';
  position: absolute;
  filter: blur(20px);
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0);
  background: inherit;
} */

.screen label {
  font-style: italic;
  font-family: 'Opens Sans', sans-serif;
  margin-top: 4px;
  font-style: normal;
}

.screen a::hover {
  color: #000000;
}

.cell {
  border: 1mm;
  border-radius: 2px;
  padding: 8px 19px;
  background-color: #faf3f2;
  margin: 7px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  min-width: 35px;
  text-align: center;
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
}

.input {
  max-width: 38px;
}

.currency-name {
  padding: 10px;
  font-weight: bold;
}

.btn-default {
  padding: 7px 13px;
  background-color: transparent;
  border: 3px;
  border-style: solid;
  border-radius: 4mm;
  font-weight: bold;
  margin: 0 10vh 0 0;
  color: #0A0B0D;
  /* color: #ffffff; */
  /* border-color: #ffffff; */
  border-color: #0A0B0D;
  width: 100px;
  font-size: 16px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.right-aligned {
  float: right;
}

.address-part {
  
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: auto;
  height: 390px;
  /* color: #222F40; */
  color: #faf3f2;
  /* background-color: #d4cecd; */
  /* background: url("./photo.jpg"); */
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 20px 5px 10px;
  max-width: 133px;
  /* backdrop-filter: blur(40px); */
  border: solid #eae7dc;
  background-color: #e85a4f;
  -moz-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  -webkit-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  /* flex: 0.5; */
  
  /* border-radius: 0 10px 0 0; */
}

/* @media screen and (max-width:600px) {
  .row { flex-direction: column;  }
  .address-part { max-width: 400px; height: 300px; margin-bottom: 50px; }
  #map { max-width: 280px; } 
  .btn-default { font-size: 11px; }
} */

.address-part a {
  font-size: 17px;
}
.address-part a:link {
  color: #faf3f2;
  text-decoration: none;
}
.address-part a:visited {
  /* color: #a8a8a8; */
  color: #faf3f2;
  text-decoration: none;
}

#map {
  width: 500px;
  height: 400px;
  border: solid #eae7dc;
  -moz-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  -webkit-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  
}

.parts {
  text-align: left;
  margin-left: 20px;
}

.bar {
  width: auto;
  height: 3px;
  background-color: #eae7dc;
  margin: 8px 5px 8px 0;
}

.separator {
  margin-top: 11px;
}

.date {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}


.btn-submit {
  display: flex;
  justify-content: center;
  border: solid ;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 7px 16px 8px;
  font-size: 12.5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background: none;
  background-color: #5fb053;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}