body {
  background: url("./smash.jpg") repeat center center fixed;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  -webkit-box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  display: flex;
  flex-direction: row;
  margin: 0;
  width: auto;
  align-items: center;
  position: sticky;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.center h1 {
  font-size: 43px;
  margin-bottom: 0;
  margin-top: 5px;
}
.center h2 {
  margin-top: 5px;
  font-style: italic;
}

.screen {
  /* display: flex;
  flex-direction: column; */
  flex: 1;
  margin: 0;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.banner {
  border: 1mm;
  border-radius: 7px;
  background-color: #E52323;
  margin: auto;
  padding: 30px 40px;
}

.cell {
  border: 1mm;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #F2E4E4;
}

.currency-name {
  padding: 10px;
  font-weight: bold;
}

.btn-default {
  padding: 7px 13px;
  background-color: transparent;
  border: 3px;
  border-style: solid;
  border-radius: 4mm;
  font-weight: bold;
  margin: 0 10vh 0 0;
  color: #000000;
  width: 13vh;
  font-size: 16px;
  height: 6vh;
  cursor: pointer;
}

.right-aligned {
  float: right;
}

.address-part {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: auto;
  background-color: gray;
}

