/* @font-face {
  font-family: 'Monsterrat', sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
} */

body {
  background: url("./smash.jpg") repeat center center fixed;
  font-family: 'Monsterrat', sans-serif;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  -webkit-box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  display: flex;
  flex-direction: row;
  margin: 0;
  width: auto;
  align-items: center;
  position: sticky;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.center h1 {
  font-size: 43px;
  margin-bottom: 0;
  margin-top: 5px;
  color: #0A0B0D;
}

.center h2 {
  margin-top: 5px;
  font-style: italic;
  color: #0A0B0D;
}

.screen {
  /* display: flex;
  flex-direction: column; */
  flex: 1;
  margin: 0;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.banner {
  border: 1mm;
  border-radius: 7px;
  background-color: #eb4034;
  margin: 0;
  padding: 25px 30px;
  color: #0A0B0D;
  font-family: 'Monsterrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.screen label {
  font-style: italic;
  font-family: 'Opens Sans', sans-serif;
  margin-top: 4px;
}

.cell {
  border: 1mm;
  border-radius: 2px;
  padding: 8px 19px;
  background-color: #F2E4E4;
  margin: 7px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.currency-name {
  padding: 10px;
  font-weight: bold;
}

.btn-default {
  padding: 7px 13px;
  background-color: transparent;
  border: 3px;
  border-style: solid;
  border-radius: 4mm;
  font-weight: bold;
  margin: 0 10vh 0 0;
  color: #0A0B0D;
  border-color: #0A0B0D;
  width: 13vh;
  font-size: 16px;
  height: 6vh;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.right-aligned {
  float: right;
}

.address-part {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: auto;
  height: 390px;
  color: #222F40;
  background-color: #d4cecd;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 20px 5px 10px;
  border-radius: 0 10px 0 0;
}

#map {
  width: 500px;
  height: 400px;
}

.parts {
  text-align: left;
  margin-left: 20px;
}


