.navbar {
  -webkit-box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.17);
box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  display: flex;
  flex-direction: row;
  margin: 0;
  width: auto;
  /* height: 10vh; */
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.center h1 {
  font-size: 43px;
  margin-bottom: 0;
  margin-top: 5px;
}
.center h2 {
  margin-top: 5px;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
}

.banner {
  border: 1mm;
  border-radius: 7px;
  background-color: #E52323;
  margin: auto;
  padding: 30px 40px;
}

.cell {
  border: 1mm;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #F2E4E4;
}

.currency-name {
  padding: 10px;
  font-weight: bold;
}
