/* @font-face {
  font-family: 'Monsterrat', sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
} */

body {
  /* background: url("./abs.jpg") no-repeat center center fixed; */
  font-family: 'Ubuntu', sans-serif;
}

.parent {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  -webkit-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.17);
  display: flex;
  flex-direction: row;
  margin: 0;
  width: auto;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.center h1 {
  font-size: 43px;
  margin-bottom: 0;
  margin-top: 5px;
  color: #0A0B0D;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.center h2 {
  margin-top: 5px;
  color: #2e2d2d;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

.parent:after{
  display: block;
  content: "КУПИМ ДОРОГО! ПРОДАДИМ ДЁШЕВО!";
  margin-top: 10px;
  letter-spacing: 0.3rem;
  font-weight: 100;
  font-size: 33px;
  text-align: center;
}

.screen {
  flex: 1;
  margin: 0;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.back-1 {
  background: url("./abstract.jpg") repeat center center fixed;
}

.back-2 {
  background: url("./smash.jpg") repeat center center fixed;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.banner {
  border: 1mm;
  border-radius: 7px;
  -moz-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  -webkit-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  
  border: solid #eae7dc;
  margin: 0;
  padding: 25px 30px;
  color: #0A0B0D;
  font-family: 'Monsterrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: #e85a4f;
}

/* .banner::before {
  content: '';
  position: absolute;
  filter: blur(20px);
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0);
  background: inherit;
} */
.address-part strong {
  letter-spacing: 0.1rem;
  font-size: 24px;
}

.phone-element{
  margin-top: 6px;
  display: flex;
  height: 20px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.phone-normal{
  width: 17px;
  height: 17px;
}

.phone-wp {
  width: 20px;
  height: 20px;
}

.phone-element a {
  margin-left: 7px;
  font-family: 'Opens Sans', sans-serif;
  font-style: normal;
}

.address-part a {
  font-size: 15px;
}

.address-part a:hover {
  color: #000000;
}

.address-part a:link {
  color: #faf3f2;
  text-decoration: none;
}
.address-part a:visited {
  /* color: #a8a8a8; */
  color: #faf3f2;
  text-decoration: none;
}

.cell {
  border: 1mm;
  border-radius: 2px;
  padding: 8px 19px;
  background-color: #faf3f2;
  margin: 7px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  min-width: 35px;
  text-align: center;

}

.input {
  max-width: 38px;
}

.currency-name {
  padding: 10px;
  font-weight: bold;
}

.btn-default {
  padding: 7px 13px;
  background-color: transparent;
  border: 3px;
  border-style: solid;
  border-radius: 4mm;
  font-weight: bold;
  margin: 0 10vh 0 0;
  color: #2e2d2d;
  /* color: #ffffff; */
  /* border-color: #ffffff; */
  border-color: #2e2d2d;
  width: 100px;
  font-size: 16px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.right-aligned {
  float: right;
}

.address-part {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: fit-content;
  height: 390px;
  color: #faf3f2;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 20px 5px 10px;
  border: solid #eae7dc;
  background-color: #e85a4f;
  -moz-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  -webkit-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
}


#map {
  width: 500px;
  height: 400px;
  border: solid #eae7dc;
  -moz-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  -webkit-box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  box-shadow: 0px -2px 29px 10px rgba(0,0,0,0.36);
  
}

.parts {
  text-align: left;
  margin-left: 20px;
}

.bar {
  width: auto;
  height: 3px;
  background-color: #eae7dc;
  margin: 8px 5px 8px 0;
}

.separator {
  margin-top: 11px;
}

.date {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}


.btn-submit {
  display: flex;
  justify-content: center;
  border: solid ;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 7px 16px 8px;
  font-size: 12.5px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background: none;
  background-color: #5fb053;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.login-container {
  /* display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 100vh;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: solid #d1cfcf 1px;
  border-radius: 4px;
}

.input-style {
  margin-bottom: 10px;
  border: solid #d1cfcf 1px;
  padding: 7px;
  width: 400px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
}

.login-btn {
  background-color: #2185d0;
  color: #fff;
  outline: 0;
  border: none;
  padding: 9px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1em;
}

.title {
  letter-spacing: 0.3rem;
  font-weight: 100;
  font-size: 33px;
}
.empty {
  flex: 0.8;
}

@media screen and (max-width:600px) {
  .btn-default { margin: 10px; padding: 0;}
  .row { flex-wrap: wrap;}
  .address-part { 
    max-width: none; 
    flex: 1; 
    margin-top: 0px; 
    max-height: 40vh;
    border: none;
  }
  .address-part a {
    font-size: 19px;
  }

  .address-part strong {
    font-size: 24px;
  }

  .input-style { 
    max-width: 80vw; 
  }

  .login-container { 
    max-width: 490px; 
  }

  .banner {
    max-width: 100vh; 
    font-size: 20px;
    padding: 20px 25px;
    
  }
  .cell{
    padding: 6px 17px;
    font-size: 17px;
  }

  .center h1 {
    font-size: 35px;
    margin: 0;
  }

  .center h2 {
    font-size: 17px;
    margin: 0 0 3px 0;
  }
  .parent:after {
    text-align: center;
    font-size: 15px;
  }

  #map {
    max-width: 100vh;
    max-height: 57vh;
  }
}

